* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: auto;
    width: 1440px;
}

.header {
    top: 37px;
    left: 0%;
    right: 0%;
    height: 729px;
    background-image: url("images/2132C2_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    text-align: center;
}

.headerTitle {
    margin-top: 200px;
    margin-left: 220px;
    font-size: 50px;
    position: absolute;
    width: 1000px;
    text-align: center;
    font: normal normal bold;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
}

.headerTitleDiv {
    text-align: center;
}

.btnHeader {
    margin-top: 100px;
    position: initial;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.textHeader {
    font: normal normal normal 17px/25px Nunito;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.exploreBtn {
    position: absolute;
    left: 50%;
    bottom: 80px;
    cursor: pointer;
}

#section {
    width: 1440px;
    height: 900px;
    text-align: center;
}

.head {
    margin-top: 30px;
    text-align: center;
    font: normal normal bold 40px/50px Barlow Condensed;
    letter-spacing: 0px;
}

.subHead {
    font-size: 16px;
}

.exploreBtn::before,
.exploreBtn::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid rgb(129, 215, 255);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: exploreBtn 1s ease-in-out infinite;
}

.exploreBtn::after {
    top: 30%;
    animation-delay: 0.2s;
}

@keyframes exploreBtn {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

.logo {
    margin-right: 20px;
}

.header1 {
    width: 1440px;
    height: 37px;
    text-align: center;
    background-color: #8DB9CA;
    margin-left: 69px;
}

.header1P {
    font: normal normal bold 11px/13px Josefin Sans;
    letter-spacing: 1.65px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 2px;
}

.navmenu {
    height: 60px;
    margin-left: 330px;
    width: 1000px;
    clear: both;
    text-align: center;
}

.rightMenu {
    float: right;
}

.leftMenu {
    float: left;
    position: absolute;
}

.logoMenu {
    position: absolute;
    margin-left: 47%;
    margin-top: 15px;
}

.shopBtn1 {
    font-family: 'Times New Roman', Times, serif;
}

.ex {
    color: rgb(180, 178, 178);
    font-size: 24px;
    padding: 4px;
    width: 60px;
    height: 40px;
    position: inherit;
}

a {
    text-decoration: none;
}

.photoDiv {
    height: 950px;
    width: 1440px;
    background-color: rgb(230, 237, 243);
}

.textPhoto {
    text-align: center;
    left: 32%;
    position: absolute;
}

.img1 {
    width: 246px;
    height: 326px;
    margin-top: 40px;
    margin-left: 10px;
    position: absolute;
}

.img5 {
    width: 420px;
    height: 302px;
    margin-left: 10px;
    margin-top: 400px;
    position: absolute;
}

.img6 {
    width: 264px;
    height: 264px;
    margin-left: 300px;
    margin-top: 300px;
    position: absolute;
}

.img2 {
    width: 520px;
    height: 364px;
    margin-left: 900px;
    margin-top: 400px;
    position: absolute;
}

.img3 {
    width: 119px;
    height: 158px;
    margin-left: 1300px;
    margin-top: 2px;
    position: absolute;
}

.img4 {
    width: 231px;
    height: 304px;
    margin-left: 1100px;
    margin-top: 130px;
    position: absolute;
}

.headerLow {
    font: normal normal bold 48px/52px Barlow Condensed;
}

.header2 {
    font: arial;
}

.insta {
    margin-top: 4px;
}

ul li {
    list-style: none;
    text-decoration: none;
    margin: 25px;
    float: left;
    width: 43px;
    height: 13px;
    color: var(--unnamed-color-221f20);
    font: normal normal bold 13px/16px Josefin Sans;
    letter-spacing: 1.95px;
    color: #221f20;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
}

.navTitle {
    font-size: 26px;
    margin-left: 500px;
    margin-right: 200px;
}

ul li:hover {
    opacity: 0.5;
}

.section3 {
    width: 1440px;
    height: 2607px;
    text-align: center;
}

.title3 {
    margin-left: 590px;
    width: 366px;
    height: 48px;
    color: var(--unnamed-color-221f20);
    text-align: center;
    font: normal normal bold 40px/43px Barlow Condensed;
    letter-spacing: 0.8px;
    color: #221f20;
    text-transform: uppercase;
    opacity: 1;
}

.secSec {
    margin-top: 650px;
    width: 1440px;
    height: 700px;
    background: var(--unnamed-color-8db9ca) 0% 0% no-repeat padding-box;
    background: #8db9ca 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 65px;
}

.imgSec {
    margin-bottom: 120px;
    margin-left: 140px;
    width: 460px;
    height: 420px;
}

.h2Sec {
    position: absolute;
    margin-left: 12%;
    margin-top: 140px;
    color: white;
}

.pSec {
    position: absolute;
    margin-top: 180px;
    margin-left: 170px;
    width: 460px;
    text-align: center;
    font: normal normal normal 16px/25px Nunito;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    float: left;
}

.btnTravel {
    position: absolute;
    margin-top: 300px;
    margin-left: 280px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.firstSec {
    float: left;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-left: 45px;
}

.st {
    margin-left: 15%;
}

.parPress {
    margin-left: 15%;
}

.imgSec2 {
    width: 410px;
    height: 515px;
    background: #000000 0% 0% no-repeat padding-box;
    margin-top: 60px;
    cursor: pointer;
}

.photoText {
    position: absolute;
    margin-right: 40px;
}

#fText {
    margin-left: 120px;
    margin-top: 90px;
    color: white;
    font: normal normal bold 22px/50px Josefin Sans;
}

#pText {
    margin-top: 90px;
    margin-left: 550px;
    font: normal normal bold 22px/50px Josefin Sans;
    position: absolute;
    color: white;
}

#cText {
    margin-top: 90px;
    margin-left: 1060px;
    font: normal normal bold 22px/50px Josefin Sans;
    position: absolute;
    color: white;
}

.shopBtn {
    width: 300px;
    margin-top: 550px;
    border-radius: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font: normal normal bold Josefin Sans;
    position: absolute;
}

.textSlogans {
    width: 800px;
    margin: auto;
    text-align: center;
    font: normal normal normal 22px/38px Nunito;
}

.logo {
    margin-left: 230px;
    width: 1200px;
}

.logoImg {
    margin: 35px;
}

.videoDiv {
    margin-left: 65px;
    text-align: center;
    width: 1440px;
    height: 360px;
    background-color: rgb(233, 236, 245);
}

.autoRotate {
    width: 1440px;
    clear: both;
    text-align: center;
    margin-top: 70px;
    margin-left: 60px;
}

.textRotate {
    width: 600px;
    padding: 5px;
    text-align: center;
    float: left;
    margin: 20px;
}

.rotateP1 {
    color: var(--unnamed-color-221f20);
    text-align: center;
    font: normal normal bold 12px/25px Josefin Sans;
    letter-spacing: 1.2px;
    color: #221f20;
    text-transform: uppercase;
    opacity: 1;
}

.rotateH3 {
    color: var(--unnamed-color-221f20);
    text-align: left;
    font: normal normal bold 40px/48px Barlow Condensed;
    letter-spacing: 0px;
    color: #221f20;
    text-transform: uppercase;
    opacity: 1;
}

.longText {
    color: var(--unnamed-color-221f20);
    text-align: left;
    letter-spacing: 0px;
    color: #221f20;
    opacity: 1;
}

.learnBtn {
    color: var(--unnamed-color-221f20);
    text-align: center;
    font: normal normal bold 12px/14px Josefin Sans;
    letter-spacing: 1.8px;
    color: #221f20;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 30px;
    border-radius: 30px;
    background-color: white;
    height: 30px;
    width: 120px;
}

.img4Rot {
    margin-right: 50px;
    width: 630px;
    height: 500px;
    margin-top: 30px;
    float: right;
    -webkit-box-shadow: 32px 50px 0px 11px rgba(0, 0, 0, 0.85);
    box-shadow: 32px 50px 0px 11px rgba(45, 118, 202, 0.85);
}

#circleText {
    font-size: 3vmin;
    font-family: "cousine", monospace;
    text-transform: uppercase;
    animation: spin 14s linear infinite;
    color: #080808;
    position: absolute;
    margin-left: 86%;
    margin-top: 0px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 90%;
}

.slide-track {
    display: flex;
    width: calc(270px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 270px;
    width: 270px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.imgShowSlide {
    width: 100%;
    transition: transform 1%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.imgShowSlide:hover {
    transform: translateZ(20px);
}

.instagramClass {
    float: right;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-right: 200px;
}

.bestPour {
    clear: both;
    background-color: #eff5f7;
    padding: 10px;
    margin-top: 150px;
}

.pourTxt {
    float: left;
    margin-left: 70px;
}

.h2Pour {
    margin-left: 70px;
    font: normal normal bold 36px/43px Barlow Condensed;
}

.footer {
    margin-bottom: 0px;
    height: 500px;
    background-color: #659ab1;
    clear: both;
}

.fotH {
    font: normal normal bold 36px/43px Barlow Condensed;
    letter-spacing: 0.72px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 50px;
    margin-left: 79px;
}

.fotText {
    font: normal normal normal 18px/28px Nunito;
    letter-spacing: 0px;
    color: #eff5f7;
    opacity: 1;
    float: left;
    margin-top: 75px;
    margin-left: 79px;
}

.emailInput {
    width: 740px;
    height: 62px;
    background: #84aec1 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    float: right;
    margin-top: 60px;
    border: none;
    outline: none;
    margin-right: 30px;
    font-size: 1.5em;
}

.dashed {
    margin-top: 13%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px dashed #ffffff;
    opacity: 1;
    width: 90%;
    margin-left: 5%;
    white-space: initial;
}

.product {
    width: 300px;
    height: 420px;
    border: 1px solid black;
    float: left;
    margin-top: 30px;
    margin: 20px;
    cursor: pointer;
}

.product:hover {
    opacity: .9;
}

.productImg {
    width: 220px;
    margin-top: 20px;
}

.productTitle {
    font-size: 12px;
}

.productPrice {
    font-size: 14px;
    margin-bottom: 10px;
}

.divImgQ {
    display: inline;
}

.none {
    display: none;
}

.nowBtn {
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
    display: none;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    border: none;
}

.divImgQ:hover .nowBtn {
    position: absolute;
    display: inline;
}

.btnAllP {
    margin-top: 5px;
    width: 202px;
    height: 50px;
    border: 1px solid var(--unnamed-color-221f20);
    border: 1px solid #221F20;
    border-radius: 26px;
    opacity: 1;
}

.footerLogo {
    margin-top: 30px;
    margin-left: 79px;
}

.footerInfo {
    width: 130px;
    height: 70px;
    margin-left: 79px;
    color: white;
    margin-top: 10px;
    position: absolute;
}

.listFoot {
    margin-left: 500px;
    margin-top: -60px;
    width: 100px;
    position: relative;
}

.ut {
    margin-top: 0px;
    position: absolute;
    text-align: left;
    font: normal normal normal 14px/30px Nunito;
    letter-spacing: 0px;
    color: #EFF5F7;
    opacity: 1;
}

.ut .ti {
    margin: 9px;
    width: 350px;
    text-align: left;
    font: normal normal normal 14px/30px Nunito;
    letter-spacing: 0px;
    color: #EFF5F7;
    opacity: 1;
}

.ut1 {
    margin-left: 300px;
    position: absolute;
    width: 150px;
    text-align: left;
    font: normal normal normal 14px/30px Nunito;
    letter-spacing: 0px;
    color: #EFF5F7;
    opacity: 1;
}

.ut1 .ti1 {
    margin: 9px;
    width: 350px;
    text-align: left;
    font: normal normal normal 14px/30px Nunito;
    letter-spacing: 0px;
    color: #EFF5F7;
    opacity: 1;
}

.ut2 {
    margin-left: 600px;
}

.ut2 .ti2 {
    width: 200px;
    margin: 9px;
    font: normal normal normal 14px/30px Nunito;
    letter-spacing: 0px;
    color: #EFF5F7;
    opacity: 1;
}

.connectFooter {
    position: absolute;
    margin-left: 1300px;
    margin-top: 5px;
    font: normal normal normal 14px/30px Nunito;
    letter-spacing: 0px;
    color: #EFF5F7;
    opacity: 1;
}